

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg, div {
  display: block;
  max-width: 100%;
  
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.forAppBar {
    background-color: rgb(24, 210, 185);
    
    
  }



.forContainers1st {
    
  color: rgb(4, 4, 4);
  text-align: left;
  padding-top: 1em;

}

.forContainers2nd {
  
  color: rgb(132, 108, 108);
  text-align: left;
  ;
    
}

.forContainersAvatar {
  display: flex;
  margin-left: auto;
  height: 20;
}


.forRows {
  display: flex;
  flex-direction: row;
  overflow: auto;
  
}

.forSearchBar{
  padding-right: 2em;
  
}

.forInfoSpacing{
  padding: 1em;
  padding-left: 2em;
}

.forInfoSpacing2{
  padding: 1em;
  padding-left: 10em;
  
}

.forInfoSpacing3{
  padding: 1em;
  padding-left: 10em;
  
}

.forInfoTitle{
  padding: 1em;
}


.forInfoBlack{
  color: rgb(4, 4, 4);
  
}

.forInfoGrey{
  color: rgb(132, 108, 108);
  
}

.forInfoIcon{
    padding-left: 24em;
}


.forContainers3rd {
  color: rgb(132, 108, 108);
    text-align: left;
    padding-top: 1em;
    
}

.mainbody {
    background-color: #ebebeb;
    color: white;
    padding-top: 5em;
    padding-left: 1em;
    text-align: center;
    flex-grow: 1;
    align-content: center;
    padding-right: 1em;
    
    
  }

  .forTextOnBackground {
    color: rgb(4, 4, 4);
    text-align: left;
    padding: 0.5em;
    font-family: JosefinItalic;
    
    
    
  }

  .forMinorTextOnBackground {
    color: rgb(132, 108, 108);
    text-align: left;
    padding: 1em;
    flex-grow: 1;
    padding-top: 0.1em;
    
  }


  .centeringContent {
    
    align-items: center;
    
    
  }

  .forProfilePictures {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    
    
    
  }


  .forMainText {
    color: rgb(4, 4, 4);
    text-align: center;
    padding: 0.1em;
    font-weight: bold;
    

  }

  .forAttendanceIconColorTick{
    color: rgb(20, 214, 20);
  }

  .forAttendanceIconColorCross{
    color: rgb(231, 6, 6);
  }


  .forMinorMainText {
    color: rgb(132, 108, 108);
    text-align: center;
    padding: 0.1em;
    
  }


  .forPayslipButton {
  
    color: rgb(24, 210, 185);
    
    
  }

  .forMessageButton {
    
    align-content: center;
    align-self: center;
    background-color: rgb(252, 214, 211);
    
    
  }

  .knowledgeBaseText {
    color: rgb(24, 210, 185);
    text-align: left;
    padding-bottom: 0em;
    font-family: JosefinItalic;
    
  }

  .forLogo {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    
    
    
    
    
  }

  

  .forIcons{
    
    color: rgb(24, 210, 185);
    
    
  }

  

  .forDrawerHeader{
    background-color: rgb(24, 210, 185);
  }

  
  .forAdminProfilePictures {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    
    
    
  }